//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;

//breakpoint size
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

$media-size-small: 400px;
$media-size-medium: 750px;
$media-size-large: 751px;

@mixin breakpoint($break) {
    @if $break ==large {
        @media (max-width: $break-large) {
            @content;

        }
    }

    @else if $break ==medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }

    @else if $break ==small {
        @media (max-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}

@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
}


@mixin responsive-size($media-size) {
    @if $media-size ==large {
        @media (min-width: $media-size-large) {
            max-width: 700px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

        }
    }

    @else if $media-size ==medium {
        @media (max-width: $media-size-medium) {
            max-width: 500px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @else if $media-size ==small {
        @media (max-width: $media-size-small) {
            max-width: 300px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @else {
        @media ($media-size) {
            max-width: 300px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            ;
        }
    }


}



body {
    background-color: $body-background-color;

    @include breakpoint(large) {
        background: red;
    }

    @include breakpoint(medium) {
        background: cyan;
    }

    @include breakpoint(small) {
        background: green;
    }

    @include breakpoint("max-width: 400px") {
        background: yellow;
    }
}

#contactform {
    background-color: $form-background-color;

    input,
    textarea {
        background-color: $input-color;
        flex: 2;
    }




    @include responsive-size("max-width: 400px");
    @include responsive-size(small);
    @include responsive-size(medium);
    @include responsive-size(large);
}

fieldset>div {
    @include flex-container(row, wrap);
}

@mixin center {
    width: 90%;
    $media-size-large: 960px !global;
    max-width: $media-size-large;
    margin-left: auto;
    margin-right: auto;
}

#content {
    @include center;
}