@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
/* Headings */
h1 {
  font-size: clamp(1.5625rem, 5vw, 2.44140625rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.25rem, 4vw, 1.953125rem);
  line-height: 1.15;
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5625rem);
  line-height: 1.2;
}

h4 {
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
  line-height: 1.25;
  font-weight: 200;
}

h5 {
  font-size: clamp(0.64rem, 2vw, 1rem);
  line-height: 1.3;
}

h6 {
  font-size: clamp(0.512rem, 1.75vw, 0.8rem);
  line-height: 1.35;
}

* {
  font-family: "Noto Sans", arial, sans serif;
  color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212626;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.fancy-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 25px;
}

.fancy-background::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: conic-gradient(#ee3543, #57bc73, #1e7abe, #ee3543);
  background-size: 100% 100%;
  animation: rotating-gradient 3s infinite;
  z-index: 0;
}

.fancy-background > * {
  position: relative;
  z-index: 1;
}

.business {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  padding: 1rem;
  gap: 0.25rem;
  max-width: 550px;
  background-color: #212626;
  border-radius: 20px;
  overflow: hidden;
}
.business-header, .business-body, .business-body-phone, .business-body-email {
  min-width: 0;
}
.business-name {
  font-family: "Almarai", arial, sans serif;
  grid-column: span 2;
  grid-row: 1/2;
  text-align: center;
}
.business-image {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem;
}
.business-image-logo {
  height: auto;
  width: 100%;
  min-width: none;
  display: block;
  z-index: 1;
}
.business-image-logo .cls-1 {
  letter-spacing: 0em;
}
.business-image-logo .cls-2 {
  fill: #1e7abe;
}
.business-image-logo .cls-3 {
  fill: whitesmoke;
  font-family: "Almarai", arial, sans serif;
  font-size: 1.5em;
  text-align: center;
}
.business-image-logo .cls-4 {
  fill: #ee3543;
}
.business-image-logo .cls-5 {
  letter-spacing: 0em;
}
.business-image-logo .cls-6 {
  fill: #57bc73;
}
.business-image-sarah {
  max-width: 150px;
  height: auto;
  border-radius: 150px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  margin-top: 50px;
}
.business-header {
  grid-column: 1/2;
  grid-row: 3/5;
  display: flex;
  align-items: center;
  justify-content: start;
  border-right: 1px solid rgb(80.4084507042, 92.5915492958, 92.5915492958);
  padding-right: 1rem;
  margin-top: 2rem;
}
.business-header-heading {
  text-align: right;
}
.business-body {
  grid-column: 2/3;
  grid-row: 3/5;
  display: grid;
  margin-top: 2rem;
}
.business-body-phone, .business-body-email {
  display: flex;
  align-items: center;
  min-width: 0;
}
.business-body-phone-number, .business-body-email-address {
  overflow-wrap: anywhere;
  word-break: break-word;
  min-width: 0;
}
.business-body-title {
  text-align: left;
}
.business-body-phoneicon {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: right;
  padding-right: 1rem;
}
.business-body-phone {
  display: flex;
  align-items: center;
  text-align: start;
}
.business-body-phone > a {
  text-decoration: none;
}
.business-body-emailicon {
  padding-right: 1rem;
}
.business-body-email > a {
  text-decoration: none;
}
.business-footer {
  grid-row: 5/6;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 0.5rem;
  padding-top: 1.5rem;
}
.business-footer-website {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  align-items: end;
  justify-content: end;
}
.business-footer-add {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  background-color: #1e7abe;
  width: 100%;
  height: auto;
  max-width: 150px;
  padding: 0.5rem;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}
.business-footer-add:hover {
  transform: scale(1.1);
}
.business-footer-add:active {
  background-color: #ee3543;
}

@keyframes rotating-gradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
