@use "sass:color";
@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

// font variables
$main-font: "Noto Sans", arial, sans serif;
$logo-font: "Almarai", arial, sans serif;

//colors

$background-color: #212626;
$font-color: whitesmoke;
$blue: #1e7abe;
$red: #ee3543;
$green: #57bc73;

$base-font-size: 1rem;
$type-scale: 1.25; // perfect fourth

@function step($n) {
  @return $base-font-size * math.pow($type-scale, $n);
}

/* Headings */
h1 {
  font-size: clamp(step(2), 5vw, step(4));
  line-height: 1.1;
}

h2 {
  font-size: clamp(step(1), 4vw, step(3));
  line-height: 1.15;
}

h3 {
  font-size: clamp(step(0), 3vw, step(2));
  line-height: 1.2;
}

h4 {
  font-size: clamp(step(-1), 2.5vw, step(1));
  line-height: 1.25;
  font-weight: 200;
}

h5 {
  font-size: clamp(step(-2), 2vw, step(0));
  line-height: 1.3;
}

h6 {
  font-size: clamp(step(-3), 1.75vw, step(-1));
  line-height: 1.35;
}

//mixins

@mixin center {
  margin: 0 auto;
  width: 100%;
}

* {
  font-family: $main-font;
  color: $font-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  position: relative;
  @include center();
  max-width: 600px;
}

.fancy-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 25px;
}

.fancy-background::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: conic-gradient(#{$red}, #{$green}, #{$blue}, #{$red});
  background-size: 100% 100%;
  animation: rotating-gradient 3s infinite;
  z-index: 0;
}

.fancy-background > * {
  position: relative;
  z-index: 1;
}

.business {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  padding: 1rem;
  gap: 0.25rem;
  max-width: 550px;
  background-color: $background-color;
  border-radius: 20px;
  overflow: hidden;

  &-header,
  &-body,
  &-body-phone,
  &-body-email {
    min-width: 0;
  }

  &-name {
    font-family: $logo-font;
    grid-column: span 2;
    grid-row: 1/2;
    text-align: center;
  }

  &-image {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem;

    &-logo {
      height: auto;

      width: 100%;
      min-width: none;
      display: block;
      z-index: 1;
      .cls-1 {
        letter-spacing: 0em;
      }

      .cls-2 {
        fill: $blue;
      }

      .cls-3 {
        fill: $font-color;
        font-family: $logo-font;
        font-size: 1.5em;
        text-align: center;
      }

      .cls-4 {
        fill: $red;
      }

      .cls-5 {
        letter-spacing: 0em;
      }

      .cls-6 {
        fill: $green;
      }
    }
    &-sarah {
      max-width: 150px;
      height: auto;
      border-radius: 150px;
      position: absolute;
      @include center();
      z-index: 2;
      margin-top: 50px;
    }
  }
  &-header {
    grid-column: 1/2;
    grid-row: 3/5;
    display: flex;
    align-items: center;
    justify-content: start;
    border-right: 1px solid color.adjust($background-color, $lightness: 20%);
    padding-right: 1rem;
    margin-top: 2rem;

    &-heading {
      text-align: right;
    }
  }

  &-body {
    grid-column: 2/3;
    grid-row: 3/5;
    display: grid;

    margin-top: 2rem;
    &-phone,
    &-email {
      display: flex;
      align-items: center;
      min-width: 0; // key
    }

    &-phone-number,
    &-email-address {
      overflow-wrap: anywhere; // best for emails/urls
      word-break: break-word;
      min-width: 0; // key
    }

    &-title {
      text-align: left;
    }
    &-phoneicon {
      display: flex;
      text-align: right;

      align-items: center;
      justify-content: right;
      padding-right: 1rem;
    }
    &-phone {
      display: flex;
      align-items: center;

      text-align: start;

      & > a {
        text-decoration: none;
      }
    }
    &-emailicon {
      padding-right: 1rem;
    }
    &-email {
      & > a {
        text-decoration: none;
      }
    }
  }

  &-footer {
    grid-row: 5/6;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 0.5rem;
    padding-top: 1.5rem;
    &-website {
      grid-row: 2/3;
      grid-column: 3/4;
      display: flex;
      align-items: end;
      justify-content: end;
    }

    &-add {
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center;
      background-color: $blue;
      width: 100%;
      height: auto;
      max-width: 150px;
      padding: 0.5rem;
      @include center();
      border-radius: 10px;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        background-color: $red;
      }
    }
  }
}

@keyframes rotating-gradient {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
