@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// font variables
$main-font: "Noto Sans", arial, sans serif;

//colors

$background-color: whitesmoke;

//mixins

@mixin center {
  margin: 0 auto;
  width: 100%;
}

* {
  font-family: $main-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  position: relative;
  @include center();
  max-width: 500px;
}

.business {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  gap: 0;

  &-image {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo {
      transform: rotate(-90deg);
      width: 100%;
      height: auto;
      min-width: 250px;
      max-width: 400px;
      display: block;
    }
  }
  &-header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: end;

    &-heading {
      align-self: end;
    }
  }

  &-body {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  &-footer {
    grid-row: 4/5;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
  }
}
