* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  height: 25vmin;
  width: 25vmin;
  background-color: teal;
  margin-left: 2rem;
}

html,
body {
  height: 100%;
}

.container-one {
  padding: 1vmin;
}

.orbiting-circle {
  height: 25%;
  width: 25%;
  background-color: darkred;
  border-radius: 50%;
  animation: orbit 3s linear infinite;
}

@keyframes orbit {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(300%, 0%);
  }
  30% {
    transform: translate(300%, 0%);
  }
  50% {
    transform: translate(300%, 300%);
  }
  55% {
    transform: translate(300%, 300%);
  }
  75% {
    transform: translate(0%, 300%);
  }
  80% {
    transform: translate(0%, 300%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.container-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.morphing-circle {
  height: 25%;
  width: 25%;
  background-color: darkred;
  animation: morph 3s linear infinite;
}

@keyframes morph {
  0% {
    border-radius: 50%;
  }

  25% {
    border-radius: 50%;
    background-color: darkred;
  }
  50% {
    border-radius: 0%;
    background-color: white;
    transform: rotate(0deg);
  }

  75% {
    border-radius: 0%;
    background-color: white;
    transform: rotate(90deg);
  }
  100% {
    border-radius: 50%;
    background-color: darkred;
    transform: rotate(90deg);
  }
}

.container-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-left {
  background-color: darkred;
  height: 25%;
  width: 12.5%;
  border-radius: 9999px 0 0 9999px;
  animation: left-movement 3s linear infinite;
}

.circle-right {
  background-color: darkred;
  height: 25%;
  width: 12.5%;
  border-radius: 0 9999px 9999px 0;
  animation: right-movement 3s linear infinite;
}
$bounce: 35%;
$stay-close: 25%;
$stay-open: 75%;
$open: 30%;
$close: 70%;

@keyframes left-movement {
  0% {
    transform: translate(0, 0);
  }
  #{$stay-close} {
    transform: translate(0, 0);
  }
  #{$open} {
    transform: translate(-50%, 0);
  }
  #{$bounce} {
    transform: translate(-45%, 0);
  }
  40% {
    transform: translate(-50%, 0);
  }
  #{$close} {
    transform: translate(-50%, 0);
  }
  #{$stay-open} {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes right-movement {
  0% {
    transform: translate(0, 0);
  }
  #{$stay-close} {
    transform: translate(0, 0);
  }
  #{$open} {
    transform: translate(50%, 0);
  }
  #{$bounce} {
    transform: translate(45%, 0);
  }
  40% {
    transform: translate(50%, 0);
  }
  #{$close} {
    transform: translate(50%, 0);
  }
  #{$stay-open} {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heartbeat {
  height: 25%;
  width: 25%;
  background-color: darkred;
  animation: heart 2s linear infinite;
  border-radius: 50%;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  48% {
    transform: scale(1);
  }
  52% {
    transform: scale(1.25);
  }
  56% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  66% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
